<div class="card-header header-elements-inline">
    <h3 class="card-title">
        @ViewData["FormName"]
    </h3>
    <div class="header-elements">
        <div class="list-icons">
            <a class="list-icons-item" data-action="collapse"></a>
            <a class="list-icons-item" data-action="remove"></a>
        </div>
    </div>
</div>