@model RentaTransport.WebUI.ViewModels.CommonViewModel

<div class="bannercontainer" style="overflow: visible;">
    <div class="banner  revslider-initialised tp-simpleresponsive hovered" id="revslider-112" style="height: 417px;">
        <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 495px;">

            <li data-transition="curtain-3" data-slotamount="1" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                <div class="slotholder"><img src="assets/img/slider/slider01.jpg" alt="//" class="defaultimg" style="width: 1586.81px; height: 417px; opacity: 0;"></div>
                <div class="caption lft  tp-caption start" data-x="center" data-y="bottom" data-speed="1000" data-start="500" data-easing="easeOutBack" style="font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 18px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 1; left: 551px; top: -190px; visibility: visible;">
                    <p>
                        <span>Special Offers <span>&nbsp;</span></span>
                        Volvo &gt; from $29,810
                    </p>
                </div>
            </li>
            <li data-transition="curtain-3" data-slotamount="1" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                <div class="slotholder"><img src="assets/img/slider/slider01.jpg" alt="//" class="defaultimg" style="width: 1586.81px; height: 417px; opacity: 0;"></div>
                <div class="caption lft  tp-caption start" data-x="center" data-y="bottom" data-speed="1000" data-start="500" data-easing="easeOutBack" style="font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 18px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 1; left: 551px; top: -190px; visibility: visible;">
                    <p>
                        <span>Special Offers <span>&nbsp;</span></span>
                        Volvo &gt; from $29,810
                    </p>
                </div>
            <li data-transition="curtain-3" data-slotamount="1" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                <div class="slotholder"><img src="assets/img/slider/slider01.jpg" alt="//" class="defaultimg" style="width: 1586.81px; height: 417px; opacity: 0;"></div>
                <div class="caption lft  tp-caption start" data-x="center" data-y="bottom" data-speed="1000" data-start="500" data-easing="easeOutBack" style="font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 18px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 1; left: 551px; top: -190px; visibility: visible;">
                    <p>
                        <span>Special Offers <span>&nbsp;</span></span>
                        Volvo &gt; from $29,810
                    </p>
                </div>
            </li>
            </li>

        </ul>
        <div class="tp-loader" style="display: none;"></div><div class="tp-bannertimer" style="visibility: hidden; width: 99.9999%;"></div>
    </div>
    <div class="tp-bannershadow tp-shadow3" style="width: 1583px;"></div><div class="tp-bullets simplebullets round" style="bottom: 20px; left: 50%; margin-left: -36px;"><div class="bullet first"></div><div class="bullet"></div><div class="bullet last selected"></div><div class="tpclear"></div></div><div style="position: absolute; top: 208px; margin-top: -30px; left: 20px;" class="tp-leftarrow tparrows default"></div><div style="position: absolute; top: 208px; margin-top: -30px; right: 20px;" class="tp-rightarrow tparrows default"></div>
</div>