
<section id="home">
    <div class="container">
        <div class="row introform">
            <form role="form" class="col-sm-12">
                <div class="col-md-2 col-md-offset-1">
                    <div class="form-group">
                        <label for="model1"><strong>Card Brand:</strong></label>
                        <select class="form-control" id="model1">
                            <option>Porsche</option>
                            <option>Mitsubishi</option>
                            <option>Jeep</option>
                            <option>Alfa Romeo</option>
                            <option>Volkswagen</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="model2"><strong>Select Model:</strong></label>
                        <select class="form-control" id="model2">
                            <option>Boxster</option>
                            <option>BMW GF 54</option>
                            <option>FD 2014</option>
                            <option>AMFR</option>
                            <option>Centra</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="model3"><strong>1er Registration from:</strong></label>
                        <select class="form-control" id="model3">
                            <option>2014</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="model4"><strong>Price</strong></label>
                        <select class="form-control" id="model4">
                            <option>$ 20,000</option>
                            <option>$ 50,000</option>
                            <option>$ 60,000</option>
                            <option>$ 80,000</option>
                            <option>$ 100,000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="submit"><strong class="advanced">Find your Car:</strong></label>
                    <button type="submit" id="submit" class="src btn bt-sm red">search <i class="icon-search"></i></button>
                </div>
            </form>
        </div>
        <div class="row intoduction">
            <div class="col-md-7">
                <strong class="title">Safety & Security even<br /> thrill-seekers can get behind</strong>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-5">
                <img src="assets/img/car.jpg" alt="//">
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <h3>Recent Listing</h3>
                <div class="grid">
                    <div class="item-grid">
                        <div class="ribbon red"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent01.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <div class="ribbon"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent02.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <div class="ribbon grey"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent03.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <div class="ribbon"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent04.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <div class="ribbon red"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent05.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <div class="ribbon grey"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent06.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent01.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent02.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent03.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent04.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <div class="ribbon"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent05.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                    <div class="item-grid">
                        <div class="ribbon"><span>new offer</span></div>
                        <a class="more" href="#"><i class="icon-plus"></i></a>
                        <img src="assets/img/rent/rent06.jpg" alt="//">
                        <p>2013 Peogeot RCZ <span>$30,000</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group alt">
                    <h3>Popular Cars Deal</h3>
                    <a href="#" class="list-group-item">
                        <div class="popular-item">
                            <img src="assets/img/top-carrossel/offer01.jpg" alt="//">
                            <strong>Nissa Centra</strong>
                            Year: 2012<br>
                            Price: 22,000
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="popular-item">
                            <img src="assets/img/top-carrossel/offer02.jpg" alt="//">
                            <strong>Nissa Centra</strong>
                            Year: 2012<br>
                            Price: 22,000
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="popular-item">
                            <img src="assets/img/top-carrossel/offer03.jpg" alt="//">
                            <strong>Nissa Centra</strong>
                            Year: 2012<br>
                            Price: 22,000
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="popular-item">
                            <img src="assets/img/top-carrossel/offer04.jpg" alt="//">
                            <strong>Nissa Centra</strong>
                            Year: 2012<br>
                            Price: 22,000
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="list-group alt">
                    <h3>Hot cars 2013</h3>
                    <a href="#" class="list-group-item">
                        <div class="hot-item">
                            <img src="assets/img/rent/rent04.jpg" alt="//">
                            <strong>Nissa Centra</strong>
                            <span>Price: 22,000</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="hot-item">
                            <img src="assets/img/rent/rent04.jpg" alt="//">
                            <strong>Nissa Centra</strong>
                            <span>Price: 22,000</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- testimonials -->
        <div class="row testimonials">
            <div class="col-sm-12">
                <h2>Testimonials</h2>
                <div class="col-md-12">
                    <div id="carousel-testimonials" class="carousel slide">
                        <!-- Controls -->
                        <a class="carousel-control prev" href="#carousel-testimonials" data-slide="prev">
                            <i class="icon-left-open-mini"></i>
                        </a>
                        <a class="carousel-control" href="#carousel-testimonials" data-slide="next">
                            <i class="icon-right-open-mini"></i>
                        </a>
                        <a class="carousel-control all" href="#">Viewl All</a>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="testimonials-item">
                                    <span class="ribbon">&nbsp;</span>
                                    <div class="img"><img src="assets/img/testimonials/testimonial1.jpg" alt="//"></div>
                                    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</em>
                                    <strong>Mike Smithson</strong>
                                </div>
                                <div class="testimonials-item">
                                    <span class="ribbon">&nbsp;</span>
                                    <div class="img"><img src="assets/img/testimonials/testimonial2.jpg" alt="//"></div>
                                    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</em>
                                    <strong>Mike Smithson</strong>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-item">
                                    <span class="ribbon">&nbsp;</span>
                                    <div class="img"><img src="assets/img/testimonials/testimonial1.jpg" alt="//"></div>
                                    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</em>
                                    <strong>Mike Smithson</strong>
                                </div>
                                <div class="testimonials-item">
                                    <span class="ribbon">&nbsp;</span>
                                    <div class="img"><img src="assets/img/testimonials/testimonial2.jpg" alt="//"></div>
                                    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</em>
                                    <strong>Mike Smithson</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end testimonials -->
        <!-- sevices -->
        <div class="row services">
            <div class="col-sm-12">
                <h2>Our Services</h2>
                <div id="carousel-services" class="carousel slide">
                    <!-- Controls -->
                    <a class="carousel-control prev" href="#carousel-services" data-slide="prev">
                        <i class="icon-left-open-mini"></i>
                    </a>
                    <a class="carousel-control" href="#carousel-services" data-slide="next">
                        <i class="icon-right-open-mini"></i>
                    </a>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </div>
                                <strong>Unlimited Colors</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </div>
                                <strong>Customer Support</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </div>
                                <strong>Great Support</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                </div>
                                <strong>Easy to change</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                        </div>

                        <div class="item">
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                            <div class="services-item">
                                <div class="ico">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                </div>
                                <strong>Responsive Design</strong>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end sevices -->
    </div>
</section>
