<footer>
    <!-- begin top Footer -->
    <div class="topfoot">
        <div class="container">
            <div id="logos" class="carousel slide">
                <a class="carousel-control" href="#logos" data-slide="prev">
                    <i class="icon-left-open"></i>
                </a>
                <a class="carousel-control control-right" href="#logos" data-slide="next">
                    <i class="icon-right-open"></i>
                </a>

                <div class="carousel-inner">
                    <div class="item active">
                        <div><a href="#"><img src="assets/img/logos/logo-04.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-03.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-02.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-01.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-05.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-03.png" alt="//"></a></div>
                    </div>
                    <div class="item">
                        <div><a href="#"><img src="assets/img/logos/logo-01.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-02.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-05.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-01.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-03.png" alt="//"></a></div>
                        <div><a href="#"><img src="assets/img/logos/logo-04.png" alt="//"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end top Footer -->
    <!-- begin middle Footer -->
    <div class="middlefoot">
        <div class="container">
            <div class="row bread-top">
                <div class="col-xs-6 breadcrumbs">
                    You are here: <a href="index.html">Home</a>
                </div>
                <div class="col-xs-6 go-top">
                    <a href="#" id="go-top">Go to top <i class="icon-up-open"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 about">
                    <h2>Our Showroom</h2>
                    <p>
                        Call Us: 06216 15156<br />
                        Friday to Saturday, from 10 am to 7 pm
                    </p>
                    <a href="#">View Bigger Map</a>
                    <p>
                        Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
                        <a href="#">Read more</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h2>Recent News</h2>
                    <div class="recent-news">
                        <div>
                            <div class="post-icon"><i class="icon-pencil"></i></div>
                            <img src="assets/img/footer-thumbnail-news/recent1.jpg" alt="//" />
                        </div>
                        <a href="#">This is a demo post example with no images here</a>
                        <span>May 12, 2013 by Admin</span>
                    </div>
                    <div class="recent-news">
                        <div>
                            <div class="post-icon"><i class="icon-pencil"></i></div>
                            <img src="assets/img/footer-thumbnail-news/recent2.jpg" alt="//" />
                        </div>
                        <a href="#">This is a demo post example with no images here</a>
                        <span>May 12, 2013 by Admin</span>
                    </div>
                    <div class="recent-news">
                        <div>
                            <div class="post-icon"><i class="icon-pencil"></i></div>
                            <img src="assets/img/footer-thumbnail-news/recent3.jpg" alt="//" />
                        </div>
                        <a href="#">This is a demo post example with no images here</a>
                        <span>May 12, 2013 by Admin</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <h2>Vehicles</h2>
                    <ul>
                        <li><i class="icon-plus"></i><a href="#">Motorbikes</a></li>
                        <li><i class="icon-plus"></i><a href="#">Compacts</a></li>
                        <li><i class="icon-plus"></i><a href="#">Sedans</a></li>
                        <li><i class="icon-plus"></i><a href="#">4x4 SUVs</a></li>
                        <li><i class="icon-plus"></i><a href="#">Pickups</a></li>
                        <li><i class="icon-plus"></i><a href="#">Vans & Trucks</a></li>
                        <li><i class="icon-plus"></i><a href="#">Motorbikes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <h2>Services</h2>
                    <ul>
                        <li><i class="icon-plus"></i><a href="#">Buy a Car</a></li>
                        <li><i class="icon-plus"></i><a href="#">Sell your car</a></li>
                        <li><i class="icon-plus"></i><a href="#">Buy Back</a></li>
                        <li><i class="icon-plus"></i><a href="#">Repair Shop</a></li>
                        <li><i class="icon-plus"></i><a href="#">Buy a Car</a></li>
                        <li><i class="icon-plus"></i><a href="#">Sell your car</a></li>
                        <li><i class="icon-plus"></i><a href="#">Buy Back</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h2>Opening Hours</h2>
                    <ul class="hours">
                        <li><span class="icon"><i class="icon-clock"></i></span>Monday<span class="pull-right">06.00 - 22.00</span></li>
                        <li><span class="icon"><i class="icon-clock"></i></span>Tuesday<span class="pull-right">06.00 - 22.00</span></li>
                        <li><span class="icon"><i class="icon-clock"></i></span>Wednesday<span class="pull-right">06.00 - 22.00</span></li>
                        <li><span class="icon"><i class="icon-clock"></i></span>Thursday<span class="pull-right">06.00 - 22.00</span></li>
                        <li><span class="icon"><i class="icon-clock"></i></span>Friday<span class="pull-right">06.00 - 21.00</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end middle Footer -->
    <!-- begin bottom Footer -->
    <div class="bottomfoot">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p>Desing by <a href="http://themeforest.net/user/mustachethemes" title="Mustachethemes">Mustachethemes</a> - 2015 All right Reserved</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <ul class="social">
                        <li><a href="#" class="instagram"><i class="icon-instagram"></i></a></li>
                        <li><a href="#" class="vimeo"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#" class="gplus"><i class="icon-gplus"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                        <li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
