<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("Styles/_StylePartial")
</head>
<body>
    @await Html.PartialAsync("TemplatedPartials/_Header")
    @RenderBody()
    @await Html.PartialAsync("TemplatedPartials/_Footer")
    <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
    @await Html.PartialAsync("Scripts/_ScriptPartial")
    @RenderSection("Scripts", false)
</body>
</html>