@using RentaTransport.Common.Resources

@{
    ViewData["Title"] = UI.ConfirmEmail;
}

<div class="container">
    <div class="row">
        <h2>@ViewData["Title"]</h2>
        <p>
            @UI.ThankForConf
        </p>
    </div>
</div>

