@using RentaTransport.Common.Resources
@{
    ViewData["Title"] = UI.ForgotPassConfirm;
}

<div class="container">
    <div class="row">
        <h2>@ViewData["Title"]</h2>
        <p>
            @UI.PassResetMessage
        </p>
    </div>
</div>